<head>
    <title>使用指南</title>
</head>
<h1>上科大日麻使用指南</h1>
<h2>段位系统</h2>
<p>参考<a href="https://rate.r-mj.com/#/1/">雀庄公式战</a></p>
<h2>机器人使用方式</h2>
唯一指定机器人为群聊“SHT荔枝麻酱协会”中的“长期素食bot”，指令集如下：
<ul>
    <li>
        点数统计：对局结束后，四位玩家输入所得点数，机器人即可记录下该场对局。
        <ul>
            <li>
                如有玩家暂时无法输入，可以@他帮他输入点数，如@yyyouch 25000，但由于qq机器人的性能限制，目前未注册用户不能获取昵称，请未注册用户尽快注册。
            </li>
	    <li>
                如有玩家无法输入如未加群的牌搭子，可以以匿名的方式输入战绩，该战绩会被丢弃，如！匿名 25000，匿名功能详见下文。
            </li>
            <li>
                如果某位玩家输入有误，该玩家重新输入一遍即可。
            </li>
            <li>
                如果出现其他问题或者bug，可以输入取消后，全部重新输入一遍。
            </li>
        </ul>
    </li>
    <li>
        取消：取消当前已输入的点数，使用方式见上条
    </li>
</ul>
以下命令须使用中文字符感叹号“！”作为开头
<ul>
    <li>
        ！注册：注册自己的用户信息，包括qq号与昵称，需要更新自己的昵称时也可使用。
    </li>
    <li>
        ！查查我的/！被吃/！吃鱼：查询自己的简要用户信息，更多信息请访问网站。
    </li>
    <li>
        ！查查你的/！吃鱼 ：查询他人的简要用户信息，需要在消息中@你想要查询的对象。
        <ul>
            <li>
                需要同时@其它玩家，否则指令无效！
            </li>
            <li>
                如：！查查你的@yyyouch
            </li>
        </ul>
    </li>
    <li>
        ！jrrp：查询今日人品，祝你好运！
    </li>
    <li>
        ！匿名：匿名记录一位玩家的战绩，该成绩会被丢弃，但其余三人的成绩仍会记录，该功能请酌情使用，请玩家们尽可能加群记录自己真实的战绩。
        <ul>
            <li>
                需要在<b>空格</b>后加上点数作为参数。
            </li>
            <li>
                如：！匿名 25000。
            </li>
        </ul>
    </li>
    <li>
        ！看看牌：查询一副牌的牌理，包括听牌范围，牌型等信息，需要确定清一色多面听时可以使用。
        <ul>
            <li>
                需要在<b>空格</b>后加上手牌信息作为参数。
            </li>
            <li>
                如：！看看牌 1112345678999m
            </li>
        </ul>
    </li>
    <li>
        ！役满：记录自己或其它玩家的役满。
        <ul>
 	    <li>
                需要在<b>空格</b>后加上役满名称作为参数，如！役满 大三元。
            </li>
            <li>
                需要在这条消息之后立刻发一张图片作为该次役满的照片记录。
            </li>
            <li>
                如果需要帮他人记录，需要在消息后面@他，如@yyyouch ！役满 国士无双。
            </li>
            <li>
                上传图片可能会比较慢，请耐心等待bot的回复再进行下一个操作。
            </li>
        </ul>
    </li>
</ul>

<h2>下面没有了！</h2>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2>参与贡献</h2>
<ul>
    <li>
        本系统作者：yyyouch。联系方式qq:2461942798，如想参与开发可以联系我。
    </li>
    <li>
        投喂可以加速开发进度哦！
    </li>
    <img src="/media/pay.jpg" width="414" height="562">
</ul>

