<head>
    <title>用户列表</title>
</head>
<a href="/">[返回主页]</a>
<h1>用户列表</h1>
<table border="1">
    <tr>
        <td>昵称</td>
        <td>
            段位
        </td>
        <td>rate</td>
    </tr>
    {% for u in users %}
    <tr>
        <td><a href="/user/{{ u.Username }}">{{ u.Username }}</a></td>
        <td>
            {% if u.dan == 0 %}新人{% endif %}
            {% if u.dan == 1 %}5级{% endif %}
            {% if u.dan == 2 %}4级{% endif %}
            {% if u.dan == 3 %}3级{% endif %}
            {% if u.dan == 4 %}2级{% endif %}
            {% if u.dan == 5 %}1级{% endif %}
            {% if u.dan == 6 %}初段{% endif %}
            {% if u.dan == 7 %}二段{% endif %}
            {% if u.dan == 8 %}三段{% endif %}
            {% if u.dan == 9 %}四段{% endif %}
            {% if u.dan == 10 %}五段{% endif %}
            {% if u.dan == 11 %}六段{% endif %}
            {% if u.dan == 12 %}七段{% endif %}
            {% if u.dan == 13 %}八段{% endif %}
            {% if u.dan == 14 %}九段{% endif %}
        </td>
        <td>{{u.rate|floatformat:2}}</td>
    </tr>
    {% endfor %}
</table>
